.main-static{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    /* gap: 2rem; */
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(176, 175, 175, 0.5);
}
.main-static .main-body{
    /* border: 1px solid red; */
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto;
    gap: 0;
    margin: auto 1rem;
}

.main-static .main-body h2{
    margin-bottom: 0;
}

.main-static .main-body small{
    color: rgb(56, 56, 56);
    font-size: 13px;
}

.button-excel{
    padding: 0.5rem;
    border-radius: 5px;
    /* margin: 1rem auto; */
    margin-bottom: 2rem;
    background-color: rgb(127, 228, 127);
    color: white;
    border: 1px solid rgb(111, 233, 115);
}

.button-excel:hover{
    background-color: rgb(73, 185, 73);
    color: white;
    border: 1px solid rgb(111, 233, 115);
}

